:root {
  --primary-color: rgba(101, 31, 158, 0.844);
  --secondary-color: #f5f2fe;
  --box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0 0 100px 0 !important;
}

h1 {
  font-size: 96px !important;
}

h2 {
  font-size: 48px !important;
}

h3 {
  font-size: 24px !important;
  opacity: 0.7 !important;
}

.navigation-links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#contactbtn {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  text-transform: capitalize;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}

#aboutbtn {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  text-transform: capitalize;
  border: 1px solid var(--primary-color);
  background-color: white;
}

#contactbtn > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#aboutbtn > a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

#projectbtn {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  text-transform: capitalize;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}

#projectbtn > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

a {
  display: flex;
  justify-content: center;
}

.paragraphs {
  margin: 10px;
}

#aboutParagraph {
  text-align: center;
  margin: 30px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

#email {
  text-decoration: none;
  font-size: 26px;
  margin: 10px;
  color: var(--primary-color);
}

#email:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px !important;
  }
  h2 {
    font-size: 30px !important;
    text-align: center !important;
  }

  h3 {
    font-size: 20px !important;
  }

  p {
    text-align: center !important;
    margin-bottom: 20px !important;
  }

  #projectbtn {
    display: block !important;
    text-align: center !important;
    margin: 0 auto !important;
    width: 70%;
  }
}
