:root {
  /*--primary-color: rgba(101, 31, 158, 0.844);      */
  --primary-color: #80956d;
  --secondary-color: #f5f2fe;
  --box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
}

body {
  margin: 0 0 100px 0 !important;
  font-family: var(--secondary-font) !important;
}

.banner {
  background-color: #f9f7fe;
  text-align: center;
  padding: 100px 20px;
}

h1 {
  font-size: 90px !important;
  font-family: var(--primary-font) !important;
  font-weight: bold !important;
}

h2 {
  font-size: 48px !important;
}

h3 {
  font-size: 24px !important;
  opacity: 0.7 !important;
  font-weight: 400 !important;
}

.project-name {
  font-family: var(--primary-font);
  font-weight: 700;
}

.navigation-links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#contactbtn {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  text-transform: capitalize;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#contactbtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#aboutbtn {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  text-transform: capitalize;
  border: 1px solid var(--primary-color);
  background-color: white;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

#aboutbtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/*
.projectbtn {
  margin: 20px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  text-transform: capitalize;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  text-decoration: none;
  color: white;
  font-weight: bold;
}*/

.btn-primary {
  border-radius: 5px !important;
  box-shadow: var(--box-shadow) !important;
  text-transform: capitalize !important;
  border: 1px solid var(--primary-color) !important;
  background-color: var(--primary-color) !important;
  text-decoration: none !important;
  font-weight: bold !important;

  padding: 20px !important;
}

.btn-primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

a {
  display: flex;
  justify-content: center;
}

.paragraphs {
  margin: 10px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}
/*
#email {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

#email:hover {
  text-decoration: underline;
}*/

#contact {
  font-family: var(--primary-font) !important;
  font-weight: bold !important;
}

@media (max-width: 576px) {
  .project-description {
    text-align: center;
  }
  h1,
  .content h1 {
    font-size: 48px !important;
  }
  h2 {
    font-size: 30px !important;
  }

  #work-heading {
    margin-bottom: 30px !important;
  }

  h3 {
    font-size: 20px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
  }

  p {
    text-align: center !important;
  }

  .seemore {
    text-align: center !important;
  }

  #projectbtn {
    display: block !important;
    margin: 0 auto !important;
  }

  .message {
    text-align: center;
  }
  footer #email {
    font-size: 18px;
  }
}

#mailIcon {
  color: var(--primary-color);
}

.navbar-brand {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 5px;
}

.navbar-brand > i {
  margin-top: 1px !important;
  color: var(--primary-color);
}

.nav-link:hover {
  color: white !important;
}

#profile {
  border-radius: 10px;
}
.profile-img {
  text-align: center;
}

.about-container {
  padding: 60px 10px;
}

.content {
  padding: 20px 0px;
}

.content h1 {
  font-size: 64px !important;
}

.content h3 {
  font-size: 18px !important;
}

.content p {
  font-size: 14px;
}

@media (max-width: 991px) {
  .about-container {
    text-align: center;
    padding: 10px 10px !important;
  }
  .contact-info {
    text-align: center;
  }
}

.projects h3 {
  font-size: 24px !important;
  color: black !important;
  font-weight: bold !important;
}

.projects p {
  font-size: 14px;
  color: gray;
}

.projects img {
  border-radius: 15px;
}
.contact-info {
  font-size: 16px;
}

.contact-info a {
  font-weight: normal;
  margin: 30px 10px !important;
  color: black;
  text-decoration: none;
}
.contact-info a:hover {
  color: var(--primary-color);
}

ul {
  list-style: none;

  padding: 0 !important;
}

li {
  font-weight: bold;
  margin: 20px 0;
}

.send {
  padding: 10px 50px !important;
  font-weight: 400 !important;
}

.fa-brands {
  margin: 5px !important;
}

/* Mi footer */

.work-inquiry {
  background-color: var(--secondary-color);
  margin: 50px;
  padding: 30px 100px;
  border-radius: 10px;
}

.work-inquiry h2 {
  font-family: var(--primary-font);
  font-weight: bold;
}

.work-inquiry h3 {
  font-size: 18px !important;
}

footer a {
  color: black;
  text-decoration: none;
  font-size: 24px;
}
footer a:hover {
  color: var(--primary-color);
}

footer .logos a {
  margin: 0 20px;
  padding: 10px;
  border-radius: 50px;
  color: var(--primary-color) !important;
  background-color: var(--secondary-color);
  font-size: 18px;
}

.logos a:hover {
  color: var(--secondary-color) !important;
  background-color: var(--primary-color);
}

footer p,
footer p a {
  font-size: 14px;
}

footer p a {
  text-decoration: underline;
  color: blue;
}
